<div class="row">
    <div class="row">
        <div class="col s12 m6 push-m3 l4 push-l4">
            <div input-field>
                <button data-ng-click="genererJSON()" data-ng-disabled="!valide" class="btn green btn-full">
                    Générer le JSON
                </button>
            </div>
        </div>
    </div>
    <form name="importerImgForm" data-ng-submit="importerImage()">
        <div class="row">
            <div class="col s12 m6 push-m3 l4 push-l4">
                <div class="row">
                    <div class="col s12">
                        <div class="file-field input-field">
                            <input type="file" id="imageImport" accept="image/*">
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text" placeholder="Image du parking" required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6 push-m3 l4 push-l4">
                <div class="row">
                    <div class="col s12">
                        <div class="file-field input-field">
                            <input type="file" id="fichierJSON" accept="application/json">
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text" placeholder="Fichier JSON du parking">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6 push-m3 l2 push-l5">
                <button type="submit" class="btn green btn-full" data-ng-disabled="importerImgForm.$invalid || importerImgForm.$pending">
                    OK
                </button>
            </div>
        </div>
    </form>
    <br/><br/>
    <div class="row image-row">
        <div class="image-wrapper">
            <img id="image" src="img/not-found.jpg" alt="Overlay du parking">
        </div>
    </div><br/><br/>
    <div class="row">
        <div class="col s12 m12 l8 push-l4" ng-repeat="p in parking.places | orderBy: 'id'">
            <div class="row">
                <div class="col s12 m6 l1">
                    <div class="input-field">
                        <input type="text" data-ng-model="p.nom" readonly>
                        <label class="active">Nom</label>
                    </div>
                </div>
                <div class="col s6 m6 l1">
                    <div class="input-field">
                        <input type="number" step="1" ng-model="places[$index].minX" ng-value="round(decoup[$index].x)" placeholder="" readonly>
                        <label class="active">Min X</label>
                    </div>
                </div>
                <div class="col s6 m6 l1">
                    <div class="input-field">
                        <input type="number" step="1" ng-model="places[$index].minY" ng-value="round(decoup[$index].y)" placeholder="" readonly>
                        <label class="active">Min Y</label>
                    </div>
                </div>
                <div class="col s6 m6 l1">
                    <div class="input-field">
                        <input type="number" step="1" ng-model="places[$index].maxX" ng-value="round(decoup[$index].x + decoup[$index].width)" placeholder="" readonly>
                        <label class="active">Max X</label>
                    </div>
                </div>
                <div class="col s6 m6 l1">
                    <div class="input-field">
                        <input type="number" step="1" ng-model="places[$index].maxY" ng-value="round(decoup[$index].y + decoup[$index].height)" placeholder="" readonly>
                        <label class="active">Max Y</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<a id="downloadJson" ng-hide="true"></a>