/* style.css */

/* -------------------------------------------------------------------------- */

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 110;
}

.chargement-page {
    position: fixed;
    margin: 0;
    top: 0;
    right: 0;
    left: 0;
    z-index: 111;
    background-color: #FFF;
}

.brand-logo img {
    width: 50%;
    margin: 10px;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 110;
    padding: 15px;
}

.content {
    margin: 64px 0;
}

.parkidia-couleur {
    background-color: #2F8CDF !important;
    color: #FFF !important;
}

.fa {
    color: #2F8CDF;
}

.btn-bar {
    margin-top: 12px;
}

.btn-full {
    width: 100%;
}

.card-action {
    text-align: center;
}

.modal-title {
    padding: 24px;
}

.modal-footer button, .modal-footer a {
    margin: 6px 5px !important;
}

.modal-title {
    font-size: 25px;
}

.vide {
    text-align: center;
    font-size: 25px;
    color: #2F8CDF;
    font-style: italic;
}

.file-field .file-path-wrapper {
    padding: 0;
}

input[type="color"] {
    -webkit-appearance: none;
    border: none;
    width: 32px;
    height: 32px;
    margin-bottom: -37px;
}

input[type="color"]+label {
    padding-left: 50px;
    cursor: pointer;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
}

/* ----------------------------- Anime vues --------------------------------- */

.view.ng-enter {
    animation: view-enter-absolute .5s linear;
}

.view.ng-leave {
    animation: view-exit-absolute .5s linear;
}

.ng-enter {
    animation: view-enter 1s linear;
}

@keyframes view-enter {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes view-exit {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes view-enter-absolute {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes view-exit-absolute {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* ------------------------------ Parking ----------------------------------- */

#search {
    text-align: center;
    font-size: 25px;
}

.nbPlaces {
    position: absolute;
    left: 0;
    right: 0;
    top: 90px;
    text-align: center;
}

.nbPlaces span {
    font-size: 15px;
}

.nbPlaces strong {
    color: #2F8CDF;
    font-weight: bolder;
    font-size: 30px;
}

.lat-long {
    position: absolute;
    bottom: 80px;
    left: 0;
    right: 0;
    text-align: center;
}

.id-cle span {
    display: block;
    text-align: center;
    font-size: 20px;
}

.id-cle strong {
    font-size: 30px;
    color: #4caf50;
    vertical-align: middle;
    margin-left: 50px;
}

/* ------------------------------- Places ----------------------------------- */

.card-place .card-action {
    padding: 15px;
}

.card-place .card-action a {
    padding: 0 5px;
    margin-top: 5px;
}

/* ------------------------- jquery.selectareas ----------------------------- */

.select-areas-overlay {
    background-color: #000;
    overflow: hidden;
    position: absolute;
}

.select-areas-outline {
    background: #fff url('../img/outline.gif');
    overflow: hidden;
}

.select-areas-resize-handler {
    background-color: #000;
    border: 1px #fff solid;
    height: 8px;
    width: 8px;
    overflow: hidden;
}

.select-areas-delete-area {
    background: url('../img/bt-delete.png');
    cursor: pointer;
    height: 16px;
    width: 16px;
}

.delete-area {
    position: absolute;
    cursor: pointer;
    padding: 5px;
}

/* -------------------------------- Image ----------------------------------- */

.image-wrapper {
    display: inline-block;
    text-align: center;
}

.image-row {
    text-align: center;
}

#image {
    left: 0;
}
