/* style.css */

header {
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    z-index: 10;
}

.page-footer {
    position: fixed;
    padding: 0 !important;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
}

.content {
    margin-top: 64px;
    margin-bottom: 64px;
    padding: 10px 10px 0 10px;
}

.ma-couleur {
    background-color: #2F8CDF !important;
}

.brand-logo img {
    width: 50%;
    margin-top: 10px;
}

#search {
    text-align: center;
    font-size: 20px;
}

.input-field input[type=text]:focus + label {
    color: #2F8CDF;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid #2F8CDF;
    box-shadow: 0 1px 0 0 #2F8CDF;
}

.input-field .prefix.active {
    color: #2F8CDF;
}

.progress {
    position: fixed;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 80;
    background-color: #2F8CDF;
}

.indeterminate {
    background-color: #FFF !important;
}

.card-parking button {
    width: 100%;
}

.card-parking img {
    width: 300px !important;
    height: 200px !important;
}

.lat-long {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 80px;
    text-align: center;
}

.parking-place {
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    text-align: center;
}

.parking-place span {
    font-size: 25px;
}

.parking-place span strong {
    font-weight: bolder;
    font-size: 35px;
    color: #2F8CDF;
}

.btn-add-parking {
    bottom: 0;
    top: 58px;
}

.card-ajouter-parking input[type="submit"] {
    width: 100%;
}

.modal {
    z-index: 100;
}

.id strong {
    font-weight: bolder;
    font-size: 30px;
    color: #2F8CDF;
    display: inline-block;
    vertical-align: middle;
    margin-left: 50px;
}